@charset "utf-8";
/* CSS Document */

html,body{
	width:100%;
	height:100%;	
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.push-bottom{
	min-height:93%;
}

/* global styles */

body{
	background:url(../img/miFondo.png) center;
	background-position:cover;
	font-family:'ubuntu';
	font-size:18px;
}

a{
	color:#0200D3;	
}

.navbar{
	min-height:0;
	border:none;	
}

/*logo main*/

.spc-70px{
	margin-bottom:70px;	
}

.spc-40px{
	margin-bottom:40px;	
}

img.fondo-blanco{
	padding:15px 10px;
	background-color:#fff;
	border-radius:12px;
}

/*tabla*/

.contenedorTabla{
	color:#fff;
}

.tablaTitulo{
	background-color:#ED7B08;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:#3791C6;
 }
 
.contenidoUsuarios:hover{
	 color:#001652;
 }

/*menu*/

#tituloMenu{
	cursor:pointer;
}

.menuTop img{
	width:70px;	
	height:70px;
}

.current-page{
	background-color:#000;
	color:#fff;
	font-size:24px;
	font-weight:400;
}

/*agregar usuario*/

.agregarUsuario{
	color:#fff;	
}

.tab-content #general{
	background-color:#ED7B08;
	padding:20px 30px;
}

.tab-content #direccion{
	background-color:#A2BD30;
	padding:20px 30px;
}

.tab-content #contacto{
	background-color:#C9C9C9;
	padding:20px 30px;
}

.tab-content #adicionales{
	background-color:#664686;
	padding:20px 30px;
}

.agregar-usuario ul li{
	color:#fff;
}

.nav-tabs>li>a{
	color:white;
}
.nav-tabs>li.active>a{
	color:#FFFFFF
}